#footer{
	background-color: #e6e90d;
	width: 100%;
	height: 320px;
}
#footer .container .row{
	height: 200px;
}

#footer .box-message{
  line-height   : 1.2;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 600;
  color: #000;
}
#footer .box-message button{
  display      : inline-block;
  width        : 130px;
  height       : 40px; 
  font-size: 13px;
  padding      : 10px 25px;
  margin-bottom: 8px;
  color        : #fff;  
  background: linear-gradient(0deg, rgb(224, 93, 32) 0%, rgba(252, 83, 5, 1) 100%);
  border       : none;
  letter-spacing: 2px;
}

#footer .box-message .right{
  font-size: 15px;
}

#footer .icons ul li{
  width: 40px;
  height: 40px;
}
#footer .icons img{
  width            : 100%;
  height           : 100%;
}

#footer .box-message ul:nth-child(4) li{
  cursor: pointer;
}

#footer #footer-btn>a{
  color: #fff;
  text-decoration: none;
}

#footer .m-3>a{
  color: #000;
  text-decoration: none;
}


@media(max-width:768px) {
  #footer .logo-box{
    justify-content: center !important;
  }
  #footer .box-message{
    background-color: #e6e90d;
  }
  #footer .box-message ul{
   margin-left: 0;
   font-size: 17px;
  }
  #footer .box-message p {
    font-size: 17px;
  }
  #footer .box-message ul:nth-child(4) li{
    margin: 10px 8px !important;
  }
  #footer .box-message .right{
    letter-spacing: 0;
  }
}