/* banner */
.banner {
  position   : relative;
  width      : 100%;
  line-height: 0;
}
.banner video {
  width: 100%;
}

/* title-weather */
#title-weather {
  overflow        : hidden;
  position        : relative;
  width           : 100%;
  background-color: goldenrod;
  /* box-shadow      : 10px 0 25px #131616; */
}

#title-weather h1 {
  font-size   : 60px;
  font-weight : bold;
  font-family : 'Noto Sans TC', sans-serif;
}

#title-weather .center {
  width          : 260px;
  height         : 240px;
  transform-style: preserve-3d;
  /* perspective : 1000px; */
  animation: around 16s 0s linear infinite;
}

[v-cloak]{
  display: none;
}

@keyframes around {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(90deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

#title-weather .center .front-face,
.back-face {
  position              : absolute;
  width                 : 100%;
  height                : 100%;
  text-align            : center;
  line-height           : 1.2;
  border-radius         : 3px;
  border                : none;
  /* backface-visibility: hidden; */
  transform-style       : preserve-3d;
  transition            : transform .7s cubic-bezier(.4, .2, .2, .1);
}

.center .front-face {
  background-color: rgb(27, 71, 76, 1);
}

.txt-pic {
  position   : absolute;
  left       : 0;
  top        : 60%;
  width      : 100%;
  perspective: 100px;
  transform  : translateY(-50%) translateZ(60px) scale(.94);
}

.front-face .front {
  position   : absolute;
  left       : 0;
  top        : 50%;
  font-weight: bold;
  font-size  : 20px;
  color      : #fff;
}

.front-face .front .time, 
.front-face .front p{
  text-align: left;
  letter-spacing: 2px;
  padding-left : 8px;
}

.front-face .front p {
  position     : relative;
  color        : #fff;
  font-size    : 18px;
}

.front-face .weather {
  text-align: center;
}
.front-face .weather p{
  text-align: center;
  
}
.front-face .weather .icon-temp p{
  font-size: 50px;
}
.front-face .weather .icon-temp p > span{
  font-size: 25px;
}

.front-face .weather>span img{
  width: 100px;
}

.back-face {
  position  : absolute;
  background: linear-gradient(0deg, rgb(143, 110, 143) 0%, rgb(61, 46, 63) 100%);
  font-size : 40px;
}

.back-face h3 {
  line-height: 1.5;
}

.back-face .back {
  position: absolute;
  top     : 120px;
}

.center .back-face {
  background-color: crimson;
  transform       : rotateY(180deg);
}

.back {
  color: #fff;
}

.back h3 {
  font-size     : 40px;
  padding-bottom: 5px;
}

.back span {
  font-size: 25px;
}
/* title-weather end */


/* cards */
#cards{
  background-color: goldenrod;
  box-shadow      : 10px 0 25px #131616;
}

#cards .item {
  width     : 100%;
  max-width : 380px;
}
#cards .item .box {
  height: 100%;
}

#cards .item .pic {
  height   : 60%;
  clip-path: polygon(2% 76%, 0 2%, 26% 3%, 46% 0, 89% 2%, 98% 0, 100% 23%, 98% 100%, 84% 99%, 47% 97%, 31% 100%, 0 96%);
}

#cards .item img {
  width     : 100%;
  height    : 100%;
  clip-path : polygon(2% 76%, 0 2%, 26% 3%, 46% 0, 89% 2%, 98% 0, 100% 23%, 98% 100%, 84% 99%, 47% 97%, 31% 100%, 0 96%);
  object-fit: cover;
  transition: all 0.5s linear;
}

#cards .item img:hover {
  transform: scale(1.1);
}

#cards .txt > h3 {
  padding       : 30px 0;
  color         : #fff;
  font-size     : 24px;
  font-weight   : bold;
  letter-spacing: 2px;
  font-family   : 'Noto Sans TC', sans-serif;
}

#cards .txt > p {
  color         : #fff;
  font-size     : 18px;
  font-weight   : bold;
  line-height   : 1.5;
  font-family   : 'Noto Sans TC', sans-serif;
  letter-spacing: .5px;
}

#cards .btn {
  position        : relative;
  left            : 69%;
  width           : 30%;
  /* background-color: #009645; */
  padding         : 5px;
  font-size       : 16px;
  font-weight     : 500;
  font-family     : 'Noto Sans TC', sans-serif;
  letter-spacing  : 1px;
  box-shadow      : 0 0 1px #fff;
}
/* cards end */

/* sponsor */
#sponsor {
  overflow             : hidden;
  width                : 100%;
  min-height           : 700px;
  background           : url("../images/index/rhyno.jpg") no-repeat center center / cover;
  background-attachment: fixed;
}

#sponsor a {
  color          : #fff;
  cursor         : pointer;
  text-decoration: none;
}

#sponsor .txt {
  padding    : 0 0 0 50px;
  transform  : rotate(-10deg);
  text-shadow: -3px 3px 6px rgb(0 0 0 / 60%);
  font-family: 'Noto Sans TC', sans-serif;
}

#sponsor .txt p {
  font-size     : 65px;
  letter-spacing: 3px;
  line-height   : 1.2;
}
/* sponsor end*/


/* tv-content */

#tv-content {
  width           : 100%;
  padding         : 80px 0 130px;
  background-color: #83b3ab;
}

#tv-content .item {
  margin: 0 30px;
}

#tv-content .boxs {
  overflow      : hidden;
  position      : relative;
  width         : 100%;
  height        : 0px;
  padding-bottom: 56%;
  /* padding-bottom: 57.5%; */
}

#tv-content #carousel-img {
  box-shadow    : 2px 2px 5px rgb(32, 30, 30);
}

#tv-content .item h4 {
  margin-bottom: 10px;
  padding      : 10px 0 20px;
  color        : #fff;
  font-size    : 30px;
  font-family  : 'Noto Sans TC', sans-serif;
  font-weight  : 700;
}

#tv-content .item video {
  position: absolute;
  width   : 100%;
  height  : 100%;
}

/* hot-cards */
.global-title {
  padding         : 20px 0;
  background-color: rgb(160, 180, 176);
  color           : #fff;
  font-size       : 50px;
}
.global-wrap {
  position        : relative;
  z-index         : 1;
  padding         : 20px 0;
  background-color: #bbc5c3;
}

.global-wrap .card-Box {
  display    : flex;
  align-items: flex-end;
  position   : relative;
  max-width  : 195px;
  width      : 100%;
  height     : 360px;
  padding    : 10px 5px;
  box-shadow : 0px 7px 10px rgba(0, 0, 0, .5);
  transition : .5s ease-in-out;
}

.global-wrap .card-Box:hover {
  transform: translateY(20px);
}

.global-wrap .card-Box::before {
  display   : block;
  z-index   : 2;
  position  : absolute;
  top       : 0;
  left      : 0;
  width     : 100%;
  height    : 100%;
  background: linear-gradient(to bottom, rgba(0, 176, 155, .5), rgba(150, 201, 61, 1));
  transition: .5s all;
  opacity   : 0;
  content   : "";
}

.global-wrap .card-Box:hover:before {
  opacity: 1;
}

.global-wrap .card-Box>img {
  position  : absolute;
  top       : 0;
  left      : 0;
  width     : 100%;
  height    : 100%;
  object-fit: cover;
}

.global-wrap .info img {
  position  : relative;
  width     : 100%;
  height    : 100%;
  object-fit: cover;
}

.global-wrap .card-Box .info {
  z-index   : 3;
  position  : relative;
  color     : #fff;
  opacity   : 0;
  transform : translateY(30px);
  transition: .5s all;
}

.global-wrap .card-Box:hover .info {
  opacity  : 1;
  transform: translateY(0px);
}

.global-wrap .info .num {
  position : relative;
  width    : 60px;
  height   : 60px;
  margin   : 0;
  padding  : 3px 0;
  font-size: 20px;
}

.global-wrap .card-Box .info p {
  padding-bottom: 5px;
  letter-spacing: 2px;
  font-size     : 15px;
}

.global-wrap .card-Box .btn {
  padding         : 3px 6px;
  color           : #000;
  background-color: #fff;
  font-weight     : bold;
  font-size       : 14px;
  text-decoration : none;
  transition      : .4s ease-in-out;
}

.global-wrap .info .btn:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, .5);
}

.global-wrap .info .num::after {
  display    : block;
  position   : absolute;
  top        : 23px;
  left       : 22px;
  color      : red;
  font-size  : 30px;
  font-weight: bold;
}

.global-wrap .info .num-1:after {
  content    : "1";
}

.global-wrap .info .num-2:after {
  content    : "2";
}

.global-wrap .info .num-3:after {
  content    : "3";
}

.global-wrap .info .num-4:after {
  content    : "4";
}

.global-wrap .info .num-5:after {
  content    : "5";
}

.global-wrap .info .num-6:after {
  content    : "6";
}

/* contour */

.contour {
  display              : grid;
  align-items          : flex-end;
  gap                  : 50px;
  grid-template-columns: .3fr 1fr .5fr .5fr;
  width                : 100%;
  height               : 43vh;
  background-color     : #83b3ab;
}

.bg-deer {
  transform: translateY(19px);
}

.bg-elephant {
  width    : 70%;
  transform: translateY(13px);
}

.bg-beer {
  transform: translateY(38px);
}

.bg-line {
  transform: translateY(10px);
}

.bg-deer img,
.bg-elephant img,
.bg-beer img,
.bg-line img {
  width: 100%;
}

@media(max-width:768px) {
  .banner {
    width   : 100%;
    overflow: hidden;
  }

  .banner video {
    width: 150%;
  }

  #title-weather h1{           
    font-size: 40px;
    text-align: center;
  }
  #title-weather .row > div{   
    margin-top: 0 !important;
  }
  #cards .item {           
    padding-bottom: 48px;
    position: relative;
  }

  #cards .txt > h3{        
    padding: 10px 0;
    font-size: 22px;
  }
  #cards .txt > p{       
    font-size: 18px;
  }
  #cards .btn {                
    width: auto;
  }

  /*--- sponer */
  #sponsor{
    min-height           : 500px;
    background-position-x: 85%;
  }
  #sponsor .txt p{
    font-size: 40px;           
  }

  /* global */                
  .global-wrap .card-Box{
    max-width: 80%;
    margin: 0 auto;              
  }

  .global-title {
    font-size  : 20px;
    font-weight: bold;
  }

  .global-wrap .card-Box {
    max-width    : 300px;
    margin-bottom: 20px;
  }
  /* 取消 移動端hover效果 及背景色 */
  .global-wrap .card-Box:hover {
    transform: translateY(0px);
  }
  .global-wrap .card-Box::before {
    background: none;
  }

  .global-wrap .card-Box .info {
    opacity  : 1;
    transform: translateY(0px);
  }

  .global-wrap .card-Box .info p {
    color      : #fff;
    font-weight: bold;
    text-shadow: 0px 0px 3px black;
  }

  .contour {                      
    height: 15vh;
  }

  .bg-deer {
    transform: translateY(7px);
  }

  .bg-elephant {
    width    : 70%;
    transform: translateY(6px);
  }

  .bg-beer {
    transform: translateY(14px);
  }

  .bg-line {
    transform: translateY(6px);
  }
  #footer > div > div > div.icons{
    background-color: #e6e90d;
  }
}

@media(max-width:415px) {
  #title-weather h1{           
    font-size: 23px;
  }
  #cards .item {      
    max-width : 290px;
    max-height: 265px;
    margin: 0 auto 170px;
  }
  #cards .btn{
    position: absolute;   
    bottom: -45%;
  }
  #cards .item .pic{ 
    height: 100%;
  }
  #sponsor .txt{
    transform: translateY(40px); 
  }
  #sponsor .txt p{
    font-size: 22px;   
  }
  #tv-content{
    padding: 40px 0;  
  }
  #tv-content .item h4{
    font-size: 22px;   
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }
  #tv-content .tv-item{   
    margin-top: 40px;
  }
}